ion-fab{
width:100%;
}
h3{
    color:#fff;
    margin-left: 0.5em;
}
ion-footer{
    background-color: #fff;
    height: 70px;
    min-height: 70px;
}
#button-font{
    font-family: 'Open Sans', sans-serif;
}
.btn-call{
    --background: #009959;
    min-height: 50px !important;    
    height: 60px !important;
}