<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back" defaultHref="/list" text=""></ion-back-button>
        </ion-buttons>
    <ion-title>Instagram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-content>
          <ion-card>
            <img src="../../assets/sitio-para-mujeres.jpg" alt="">
              <ion-card-header>
                <ion-card-subtitle>@sitioparamujeres</ion-card-subtitle>
                <ion-card-title>sitioparamujeres</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                ¡Un sitio para TODAS!
              </ion-card-content>
              <ion-button (click)="sitioMujeres()"  expand="full">Ir a InstaPage</ion-button>
            </ion-card>
      
            <ion-card>
                <img src="../../assets/mujeres-emprendedoras.jpg" alt="">
                  <ion-card-header>
                    <ion-card-subtitle>@mujeresemprendedorascali1</ion-card-subtitle>
                    <ion-card-title>mujeresemprendedorascali1</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    Grupo de facebook mujeres emprendedoras 
                    Este es tu directorio de emprendimiento
                  </ion-card-content>
                  <ion-button (click)="MujeresEmprendedoras()" expand="full">Ir a InstaPage</ion-button>
                </ion-card>
      
                <ion-button (click)="Back()" expand="full">Regresar</ion-button>
            
      </ion-content>
      
      
</ion-content>
