<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Especialistas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start"> <img src="../../assets/teacher.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Yuli Alcalina</h3>
        <p>Psicologa</p>
        <p><b>Necesitas ayuda</b></p>
      </ion-label>
      <p>+123456789</p>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start"> <img src="../../assets/teacher.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Orlando Flores</h3>
        <p>Psicologo</p>
        <p><b>Necesitas ayuda</b></p>
      </ion-label>
      <p>+123456789</p>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start"> <img src="../../assets/teacher.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Elber Gomez T.</h3>
        <p>Psicologo</p>
        <p><b>Necesitas ayuda</b></p>
      </ion-label>
      <p>+123456789</p>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>